<% if @post.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<%= @post.errors.full_messages.join(", ") %>
		</div>
	<% end %>

	<%= form_for @post do |f| %> 

	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</div>

	<div>
		<%= f.label :category %>
		<%= f.text_field :category %>
	</div>

	<div class="field">
	  <%= f.label :user_id %><br>
	  <%= f.collection_select :user_id, User.all, :id, :email %>
	</div>

	<%= f.submit %>

	<% end %>