<div class="container">

	<div class="container">

	<div class="page-header">
		<a href="/posts"><h1>Index</a> <small>(<%= @post.count %>)</small></h1>
			
	</div>


	<div>
		<%= form_tag posts_path, method: :get do %>
			<%= text_field_tag :q, params[:q], placeholder: 'search' %>
			<%= submit_tag 'Search' %>
		<% end %>
	</div>

	<ul class="list-group">
		<% @post.each do |post| %>
			<li class="list-group-item">
				<%= link_to(post.title, post) %> <span class="badge"><%= post.view_count %></span></li> 
		<% end %>
	</ul>

	<a class="btn btn-primary" href="/posts/new" role="button">Create a New Post</a>
</div>