<div class="container">

	<div class="page-header">
		
		<% if notice %>
			<div class="alert alert-success" role="alert"><%= notice %></div>
		<% end %>

		<h1><%= @post.title %> <small>in <%= @post.category %></small></p>
			
	</div>

	<p>by <%= @post.user.name %></p>
	<p><%= @post.content %></p>

	<p>Views: <%= @post.view_count %></p>

	<p><%= link_to('Return to Index', posts_path) %> | <%= link_to('Edit Post', edit_post_path) %></p>
	<p class="delete"><%= link_to('Delete Post', post_path(@post.id), method: :delete) %></p>
</div>