<div class="container">

	<div class="page-header">
		<h1><%= @post.title %> <small>in <%= @post.category %></small></p>
			
	</div>

	<p>by <%= @post.author %></p>
	<p><%= @post.content %></p>

	<p>Views: <%= @post.view_count %></p>

	<p><%= link_to('Return to Index', posts_path) %> | <%= link_to('Edit Post', edit_post_path) %></p>
</div>